In [250]:
import pandas as pd

The Elves begin to set up camp on the beach. To decide whose tent gets to be closest to the snack storage, a giant Rock Paper Scissors tournament is already in progress.

Rock Paper Scissors is a game between two players. Each game contains many rounds; in each round, the players each simultaneously choose one of Rock, Paper, or Scissors using a hand shape. Then, a winner for that round is selected: Rock defeats Scissors, Scissors defeats Paper, and Paper defeats Rock. If both players choose the same shape, the round instead ends in a draw.

Appreciative of your help yesterday, one Elf gives you an encrypted strategy guide (your puzzle input) that they say will be sure to help you win. "The first column is what your opponent is going to play: A for Rock, B for Paper, and C for Scissors. The second column--" Suddenly, the Elf is called away to help with someone's tent.

The second column, you reason, must be what you should play in response: X for Rock, Y for Paper, and Z for Scissors. Winning every time would be suspicious, so the responses must have been carefully chosen.

The winner of the whole tournament is the player with the highest score. Your total score is the sum of your scores for each round. The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

Since you can't be sure if the Elf is trying to help you or trick you, you should calculate the score you would get if you were to follow the strategy guide.

For example, suppose you were given the following strategy guide:

A Y
B X
C Z
This strategy guide predicts and recommends the following:

In the first round, your opponent will choose Rock (A), and you should choose Paper (Y). This ends in a win for you with a score of 8 (2 because you chose Paper + 6 because you won).
In the second round, your opponent will choose Paper (B), and you should choose Rock (X). This ends in a loss for you with a score of 1 (1 + 0).
The third round is a draw with both players choosing Scissors, giving you a score of 3 + 3 = 6.
In this example, if you were to follow the strategy guide, you would get a total score of 15 (8 + 1 + 6).

What would your total score be if everything goes exactly according to your strategy guide?

In [251]:
with open('input.txt') as f:
    lines = f.readlines()

In [252]:
strategy = []
for line in lines:
    strat = line.strip().split(' ')
    strategy.append(strat)

In [253]:
df = pd.DataFrame(strategy)

In [254]:
df.head()

   0  1
0  A  Y
1  B  X
2  C  X
3  A  Z
4  B  Y

In [255]:
df.columns = ['opponent', 'you']

In [256]:
df.head()

  opponent you
0        A   Y
1        B   X
2        C   X
3        A   Z
4        B   Y

In [257]:
df.opponent[df.opponent == 'A'] = 1
df.you[df.you == 'X'] = 1
df.opponent[df.opponent == 'B'] = 2
df.you[df.you == 'Y'] = 2
df.opponent[df.opponent == 'C'] = 3
df.you[df.you == 'Z'] = 3

In [258]:
df.head()

  opponent you
0        1   2
1        2   1
2        3   1
3        1   3
4        2   2

In [259]:
df = df.astype(int)

In [260]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   opponent  2500 non-null   int64
 1   you       2500 non-null   int64
dtypes: int64(2)
memory usage: 39.2 KB

In [261]:
opponent_hand = df.opponent.sum()
opponent_hand

5056

In [262]:
your_hand = df.you.sum()
your_hand

4321

In [263]:
df['score'] = 0
for i, game in enumerate(df.you):
    # rock and rock is a tie
    if df.loc[i].you == 1 and df.loc[i].opponent == 1:
        df.loc[i].score = 3
    # rock beats sissors [no entry needed for a loss]
    elif df.loc[i].you == 1 and df.loc[i].opponent == 3:
        df.loc[i].score = 6
    # paper and paper is a tie
    elif df.loc[i].you == 2 and df.loc[i].opponent == 2:
        df.loc[i].score = 3
    # paper beats rock
    elif df.loc[i].you == 2 and df.loc[i].opponent == 1:
        df.loc[i].score = 6
    # sissors and sissors tie
    elif df.loc[i].you == 3 and df.loc[i].opponent == 3:
        df.loc[i].score = 3
    # sissors beats rock!
    elif df.loc[i].you == 3 and df.loc[i].opponent == 2:
        df.loc[i].score = 6

In [264]:
df.head()

   opponent  you  score
0         1    2      6
1         2    1      0
2         3    1      6
3         1    3      0
4         2    2      3

In [265]:
game_scores = df.score.sum()

In [266]:
your_hand + game_scores

13009

-----

--- Part Two ---<br>
The Elf finishes helping with the tent and sneaks back over to you. "Anyway, the second column says how the round needs to end: X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win. Good luck!"

The total score is still calculated in the same way, but now you need to figure out what shape to choose so the round ends as indicated. The example above now goes like this:

In the first round, your opponent will choose Rock (A), and you need the round to end in a draw (Y), so you also choose Rock. This gives you a score of 1 + 3 = 4.
In the second round, your opponent will choose Paper (B), and you choose Rock so you lose (X) with a score of 1 + 0 = 1.
In the third round, you will defeat your opponent's Scissors with Rock for a score of 1 + 6 = 7.
Now that you're correctly decrypting the ultra top secret strategy guide, you would get a total score of 12.

Following the Elf's instructions for the second column, what would your total score be if everything goes exactly according to your strategy guide?

In [267]:
df = pd.DataFrame(strategy)

In [268]:
df.head()

   0  1
0  A  Y
1  B  X
2  C  X
3  A  Z
4  B  Y

In [269]:
df.columns = ["opponent", "out"]

In [270]:
df['you'] = 'O'

In [271]:
for i, game in enumerate(df.out):
    # lost games
    if game == 'X':
        # vs. Rock
        if df.loc[i].opponent == 'A':
            # use Sissors
            df.loc[i].you = 'C'
        # vs. Paper
        elif df.loc[i].opponent == 'B':
            # use Rock
            df.loc[i].you = 'A'
        # vs. Sissors
        if df.loc[i].opponent == 'C':
            # use Paper
            df.loc[i].you = "B"
    # tied games
    elif game == 'Y':
        # samesies
        df.loc[i].you = df.loc[i].opponent
    # victories!
    elif game == 'Z':
        # vs. Rock
        if df.loc[i].opponent == 'A':
            # use Paper
            df.loc[i].you = 'B'
        # vs. Paper
        elif df.loc[i].opponent == 'B':
            # use Sissors
            df.loc[i].you = 'C'
        # vs. Sissors
        else:
            # use Rock
            df.loc[i].you = "A"
    else:
        break

In [272]:
df.head()

  opponent out you
0        A   Y   A
1        B   X   A
2        C   X   B
3        A   Z   B
4        B   Y   B

In [274]:
df.you[df.you == 'A'] = 1
df.out[df.out == 'X'] = 0
df.you[df.you == 'B'] = 2
df.out[df.out == 'Y'] = 3
df.you[df.you == 'C'] = 3
df.out[df.out == 'Z'] = 6

In [277]:
df.you = df.you.astype(int)
df.out = df.out.astype(int)

In [279]:
df.describe()

               out          you
count  2500.000000  2500.000000
mean      2.185200     1.974000
std       2.625883     0.514422
min       0.000000     1.000000
25%       0.000000     2.000000
50%       0.000000     2.000000
75%       6.000000     2.000000
max       6.000000     3.000000

In [281]:
hand = df.you.sum()
games = df.out.sum()
hand + games

10398